<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.xb.model.User">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, uname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.xb.model.User">
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <select id="select" parameterType="java.lang.Integer" resultType="com.xb.model.User">
    select
    <include refid="Base_Column_List" />
    from user
  </select>

</mapper>